body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	background: linear-gradient(-45deg, #395144 , #61876E, #A6BB8D);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.maincards {
    position: absolute;
    display: inline-block;
    left: 50%;
    margin-top: 100px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 400px;
    width: 800px;
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.circle {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
    left: 50%;
    margin-top: -100px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 50%;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
    
}

.pfp {
    position: absolute;
    display: inline-block;
    left: 31.3%;
    bottom: 30%;
}

.iam, .mladen, .programmer {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:blanchedalmond;
}

.iam {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    margin-top: 20px;
}

.mladen {
    text-align: center;
    font-size: 4.5rem;
    margin: 0;
    margin-top: 10px;
}

.programmer {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
  }
  
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
  }
  .social-icon:hover {
    color: #fff;
  }
  .social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
  }
  .social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  .social-icon--linkedin {
    background: #006599;
    color: #fff;
  }
  .social-icon--linkedin .tooltip {
    background: #006599;
    color: currentColor;
  }
  .social-icon--linkedin .tooltip:after {
    border-top-color: #006599;
  }
  .social-icon--twitter {
    background: #000000;
    color: #fff;
  }
  .social-icon--twitter .tooltip {
    background: #000000;
    color: currentColor;
  }
  .social-icon--twitter .tooltip:after {
    border-top-color: #000000;
  }
  .social-icon--facebook {
    background-image: "assets\images\pngegg.png";
    width: 80px;
    height: 80px;
    color: #fff;
  }
  .social-icon--facebook .tooltip {
    background: #3b5a9b;
    color: currentColor;
  }
  .social-icon--facebook .tooltip:after {
    border-top-color: #3b5a9b;
  }
  .social-icon--instagram {
    background: #527fa6;
    color: #fff;
  }
  .social-icon--instagram .tooltip {
    background: #527fa6;
    color: currentColor;
  }
  .social-icon--instagram .tooltip:after {
    border-top-color: #527fa6;
  }
  .social-icon--github {
    background: #ffffff;
    color: #fff;
  }
  .social-icon--github .tooltip {
    background: #000000;
    color: currentColor;
  }
  .social-icon--github .tooltip:after {
    border-top-color: #000000;
  }
  .social-icon i {
    position: relative;
    top: 1px;
  }
  
  /* Tooltips */
  .tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
  }
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
